*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
body{
    background-color: rgba(245, 248, 255, 1);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
} 
.font-Noto-serif{
     font-family: "Noto Serif", serif;
}
.font-Inter{
    font-family: "Inter", sans-serif;
}
.color-primary{
    color:rgba(0, 0, 0, 1);
}
.color-secondary{
    color:rgba(233, 90, 8, 1);
}
.text-color{
   color: rgba(0, 0, 0, 0.5); 
}

/* Navbar Styles */

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nav-items-container{
    display: flex;
    gap:48px;   
}
.nav-items{
  color: rgba(137, 135, 161, 1);  
}

/* Banner Styles */
.banner{
   display: flex;
   margin-top: 120px;
   align-items: end; 
   
}
.banner-left, .banner-right {
    width:50%;
}
.banner-title{
    width: 100%;
    font-weight: bold;
    font-size: 4.06rem;
}
.banner-description{
    font-size: 1.375rem;
    margin-top: 13px;

}




















/* Mobile Responsiveness */
@media screen and (max-width:480px) {
    /* Navbar section */
    nav{
        width: 92.57%;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    nav img{
        width:100px;
    }
    .nav-item-responsive{
    font-size: 1rem;
    }
    
    .hidden-01{
        display: none;
    }

    /* Banner Section */
    .banner{
        flex-direction: column-reverse;
        gap:28px;
        width: 100%;
    }
    .banner-left, .banner-right {
    width:100%;
}
.banner-image{
    width: 100%;
}
.banner-title{
    font-size:2.4rem;
}
.banner-description{
    font-size:1rem;
}
.banner-left{
    padding-left: 16px;
    padding-right: 16px;
}





}