*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
body{
    background-color: rgba(245, 248, 255, 1);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
} 
.font-Noto-serif{
     font-family: "Noto Serif", serif;
}
.font-Inter{
    font-family: "Inter", sans-serif;
}
.color-primary{
    color:rgba(0, 0, 0, 1);
}
.color-secondary{
    color:rgba(233, 90, 8, 1);
}
.text-color{
   color: rgba(0, 0, 0, 0.5); 
}

/* Navbar Styles */

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nav-items-container{
    display: flex;
    gap:48px;   
}
.nav-items{
  color: rgba(137, 135, 161, 1);  
}

/* Banner Styles */
.banner{
   display: flex;
   margin-top: 120px;
   align-items: end; 
   
}
.banner-left, .banner-right {
    width:50%;
}
.banner-title{
    width: 100%;
    font-weight: bold;
    font-size: 4.06rem;
}
.banner-description{
    font-size: 1.375rem;
    margin-top: 13px;

}

/* Plants Section Styles */
.plants{
    margin-top: 120px;
}

.plants-title{
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
    
}
.plants-sub-title {
    font-size:1.375rem;
    margin-top: 16px;
    margin-bottom: 50px;
    text-align: center; 
}
.plants-card{
    width: fit-content;
}
.flower-title{
    font-weight: medium;
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    margin-top: 30px;
    text-align: center;
}
.flower-price{
    font-weight:bold;
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    margin-top:8px;
    margin-bottom: 30px;
    text-align: center;
}
.plants-button{
    width: 100%;
    height:50px;
    background-color:rgba(233, 90, 8, 1) ;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;    
}
.plants-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px 20px;
}

/* Plants Lover Section */

.plants-lover{
    margin-top:210px ;
    margin-bottom:130px;
    display: flex;
    gap:60px;
    position: relative;
    
}
.plants-lover-right{
    max-width:540px;
    margin: 38px auto;
    
}
.plants-lover-right ul {
    margin-left:28px;
}
.plants-lover-title{
    font-weight: bold;
    font-size: 3.125rem;
}
.plants-lover-right ul li{
    font-size: 1.39rem;
    margin-top: 20px;

}


.trusted-badge{
    width: 24%;
position: absolute;
top:-124px;
right:512px;
}
    




















/* Mobile Responsiveness */
@media screen and (max-width:480px) {
    /* Navbar section */
    nav{
        width: 92.57%;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    nav img{
        width:100px;
    }
    .nav-item-responsive{
    font-size: 1rem;
    }
    
    .hidden-01{
        display: none;
    }

    /* Banner Section */
    .banner{
        flex-direction: column-reverse;
        gap:28px;
        width: 100%;
    }
    .banner-left, .banner-right {
    width:100%;
}
.banner-image{
    width: 100%;
}
.banner-title{
    font-size:2.4rem;
}
.banner-description{
    font-size:1.27rem;
}
.banner-left{
    padding-left: 16px;
    padding-right: 16px;
}
/* Plant Section */

.plants-card-container {
    width:fit-content;
 grid-template-columns: repeat(2,1fr);
 gap:15px 10px;
}
.plants-image{
    width: 100%;
}
.plants{
    margin-top:65px;
}

.plants-title{
    font-size:2.4rem;   
}
.plants-sub-title{
    font-size: 1.27rem;   
}
.break{
    display: none;
}










}
    